  <h2>Your Cart</h2>
  <table>
    <%= render(@cart.line_items) %>
    <tr class="total_line">
      <td colspan="2"></td>
      <td class="total_cell">Total: <%= number_to_currency(@cart.total_price, unit: "€", separator: ".", delimeter: ",", format: "%n %u") %></td>
    </tr>
  </table>
  <%= button_to 'Checkout',new_order_path, method: :get, disabled: @order.present? %>
  <%= button_to "Empty cart", @cart, method: :delete, data: { confirm: "Are you sure?"} %>
