<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Pay type:</strong>
  <%= @order.pay_type %>
</p>
<ol>
  <% @order.line_items.each do |item| %>
    <li><p>THE PRODUCT: (<%=item.product.title %>)
    WITH QUANTITY: (<%=item.quantity %>) AND PRICE: (<%=item.price %>), FINAL PRICE: <%= item.quantity * item.price.to_f%></p>
    </li>
  <% end %>
</ol>
<br><br><br>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
