<h1>Welcome <%= User.find(session[:user_id]).name %></h1>
<p>It's <%= Time.now %></p>
<p>We have <%= pluralize(@total_orders, "order") %></p>

<%= button_to "Logout", logout_path(session[:user_id]), method: :delete %>