Dear <%= @order.name %>

Thank you for recent order from The Pramgmatic Store.

You ordered the following items:

<%= render @order.line_items %>

We 'll send you a separate e-mail when your order ships.
