<% total = 0 %>
<h3>​Pragmatic Order Shipped​</h3>​
<p>This is just to let you know that we've shipped your recent order:
</p>
<table>
  <tr>​​
    <th>​Description​</th>
  </tr>
​   <% @order.line_items.each do |line_item| %>
    <tr>​
      <td><%= number_to_currency(line_item.total_price, unit: "€ ", separator: ".", delimeter: ",", format: "%n %u") %></td>
      <% total += line_item.total_price %>
      <td>​<%= line_item.quantity %>&times;​</td>​
      <td>​<%= line_item.product.title %>​</td>​
    </tr>​
  <% end %>
</table>
<h4>Total: <%= number_to_currency(total, unit: "€", separator: ".", delimeter: ",", format: "%n %u") %></h4>
