<% total = 0 %>
Pragmatic Order Shipped​
This is just to let you know that we've shipped your recent order:
Description​
<% @order.line_items.each do |line_item| %>
  <%= number_to_currency(line_item.total_price, unit: "€", separator: ".", delimeter: ",", format: "%n %u") %>, <%= line_item.quantity %>x times, <%= line_item.product.title %>​
  <% total += line_item.total_price %>
<% end %>
Total: <%= number_to_currency(total, unit: "€", separator: ".", delimeter: ",", format: "%n %u") %>