<h3>Dear <%= @order.name %></h3>

<p>Thank you for recent order from The Pramgmatic Store.</p>

<p>You ordered the following items:</p>
<% total = 0 %>
<table>
  <tr>​​
    <th>​Description​</th>
  </tr>
​   <% @order.line_items.each do |line_item| %>
    <tr>​
      <td><%= number_to_currency(line_item.total_price, unit: "€ ", separator: ".", delimeter: ",", format: "%n %u") %></td>
      <% total += line_item.total_price %>
      <td>​<%= line_item.quantity %>&times;​</td>​
      <td>​<%= line_item.product.title %>​</td>​
    </tr>​
  <% end %>
</table>
<h4>Total: <%= number_to_currency(total, unit: "€", separator: ".", delimeter: ",", format: "%n %u") %></h4>

<p>We 'll send you a separate e-mail when your order ships.</p>
