<%= number_to_currency(line_item.total_price, unit: "€", separator: ".", delimeter: ",", format: "%n %u") %><%= sprintf("%2d x %s \n", line_item.quantity, truncate(line_item.product.title, length: 60)) %> 