<% if line_item == @current_item %>
  <tr id="current_item">
<% else %>
  <tr>
<% end %>
  <td>
    <%= form_for :line_item, :url => update_quantity_path(line_item) do |f| %>
      <%= f.number_field :quantity, :value => line_item.quantity, :min => 0 %>
      <%= submit_tag "Update" %>
    <% end %>
  </td>
  <td><%= line_item.product.title %></td>
  <td class="item_price"><%= number_to_currency(line_item.total_price, unit: "€ ", separator: ".", delimeter: ",", format: "%n %u") %></td>
  <td><%= button_to "Remove", line_item_path(line_item),method: :delete, data: { confirm: "Are you sure?" } %></td>
</tr> 